# jekyll.service

[Unit]
Description=Jekyll
After=network.target

[Service]
Type=simple
WorkingDirectory=<%= @work_dir %>
ExecStart=/usr/bin/bash -lc "JEKYLL_ENV=production bundle exec jekyll serve"
User=<%= @user %>
Group=<%= @user %>
Restart=always

[Install]
WantedBy=multi-user.target
