<VirtualHost *:80>
  ServerName <%= @server_name %>
  ServerAlias <%= @server_alias %>
  DocumentRoot <%= @web_root %>

  <Directory <%= @web_root %>>
    Options FollowSymLinks
    AllowOverride AuthConfig
    Order allow,deny
    Allow from all
  </Directory>

  <Location /server-status>
    SetHandler server-status

    Order Deny,Allow
    Deny from all
    Allow from 127.0.0.1
  </Location>

  ErrorDocument 404 http://<%= @server_name %>/404.html

  LogLevel info
  ErrorLog /var/log/httpd/<%= @server_name %>-error.log
  CustomLog /var/log/httpd/<%= @server_name %>-access.log combined

  RewriteEngine On

  # Canonical host, <%= @server_name %>
  RewriteCond %{HTTP_HOST}   !^<%= @server_name %> [NC]
  RewriteCond %{HTTP_HOST}   !^$
  RewriteRule ^/(.*)$        http://<%= @server_name %>/$1 [L,R=301]

  RewriteCond %{DOCUMENT_ROOT}/system/maintenance.html -f
  RewriteCond %{SCRIPT_FILENAME} !maintenance.html
  RewriteRule ^.*$ /system/maintenance.html [L]
</VirtualHost>
